

#titre1 {
    padding:10px;
    position: absolute;
    text-transform: uppercase;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size:36px; font-weight:250; color:white; letter-spacing:1px;
    border: 5px solid white;
    
    background-color: rgba(5, 6, 45, 0.5);



}



#backgroundimage {
    z-index: -1;
    position: fixed;
    width:3440px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}



#btnindex {
    

     position: absolute;
     top: 75%;
     left: 50%;
     transform: translate(-50%, -50%);
}


/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 24px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 196px;
  padding: 3px;
  margin: 10px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}


@media (max-width: 1080px) {
  .button-64 {
    font-size: 50px;
    min-width: 400px;
  }
}

